* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", Arial, Helvetica, sans-serif;
}

header {
  background-color: #123456;
  height: 2.5rem;
  display: flex;
  align-items: center;
  padding: 1rem;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  list-style: none;
}


.navigation li {
  color: white;
}

.navigation_sitetitle {
  font-size: 1.3rem;
  font-weight: bold;
}

.movie {
  background-color: rgb(246, 246, 245);
  box-shadow: 0 1px 1px #eee;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  margin-bottom: 0.5rem;
}

.col {
  position: relative;
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
}

.col-2 {
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-10 {
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.movie-details--title {
  font-weight: bold;
}

.movie-additional--title {
  width: 8rem;
  overflow:hidden; 
  white-space:nowrap; 
  text-overflow: ellipsis;
  word-wrap: break-word;
  font-weight: bold;
}

.movie-additional-poster img{
  height: 150px;
}

.movie-poster img {
  height: 200px;
}

.movie-details-additional-info {
  width: 100vw;
  background-color: #aaa;
  padding: 1rem;
}

.movie-additional{
  display: flex;
  flex-wrap: wrap;
}

#theaters,
#search{
    display: none;
}